In [4]:
class Vehicle:
    def __init__(self, vehicle_id, brand, rent_per_day):
        self.vehicle_id=vehicle_id
        self.brand=brand
        self.rent_per_day=rent_per_day

    def display_details(self):
        print("Vehicle ID: ", self.vehicle_id)
        print("Brand: ", self.brand)
        print("Rent Per Day: $", self.rent_per_day)

    def calculate_rent(self, days):
        return self.rent_per_day*days


def main():
    v1 = Vehicle("V-110", "Suzuki Swift", 5750.25)
    v2 = Vehicle("V-111", "Honda City", 6800.50)

    print("------------ Vehicle 1 ------------")
    v1.display_details()
    print(
        "Total rent cost of vehicle 1 for 7 days: $",
        format(v1.calculate_rent(7), ".2f")
    )

    print("\n------------ Vehicle 2 ------------")
    v2.display_details()
    print(
        "Total rent cost of vehicle 2 for 4 days: $",
        format(v2.calculate_rent(4), ".2f")
    )


main()

------------ Vehicle 1 ------------
Vehicle ID:  V-110
Brand:  Suzuki Swift
Rent Per Day: $ 5750.25
Total rent cost of vehicle 1 for 7 days: $ 40251.75

------------ Vehicle 2 ------------
Vehicle ID:  V-111
Brand:  Honda City
Rent Per Day: $ 6800.5
Total rent cost of vehicle 2 for 4 days: $ 27202.00

In [5]:
class Employee:
    def __init__(self, name, emp_id):
        self._name = name
        self._emp_id = emp_id

    def calculate_salary(self):
        pass

    def display_details(self):
        print("Employee Name:", self._name)
        print("Employee ID:", self._emp_id)

class FullTimeEmployee(Employee):
    def __init__(self, name, emp_id, monthly_salary):
        super().__init__(name, emp_id)
        self._monthly_salary = monthly_salary

    def calculate_salary(self):
        return self._monthly_salary

    def display_details(self):
        super().display_details()
        print("Employee Type: Full-Time Employee")
        print("Monthly Salary: $", format(self._monthly_salary, ".2f"))

class PartTimeEmployee(Employee):
    def __init__(self, name, emp_id, hours_worked, hourly_rate):
        super().__init__(name, emp_id)
        self._hours_worked = hours_worked
        self._hourly_rate = hourly_rate

    def calculate_salary(self):
        return self._hours_worked * self._hourly_rate

    def display_details(self):
        super().display_details()
        print("Employee Type: Part-Time Employee")
        print("Hours Worked:", self._hours_worked)
        print("Hourly Rate: $", format(self._hourly_rate, ".2f"))

def main():
    f1 = FullTimeEmployee("Syed Hammad", "Fu-2003", 75350)
    p1 = PartTimeEmployee("Syed Iftikhar", "P-3009", 36, 24.87)

    print("------------ Details of Full-Time Employee ------------")
    f1.display_details()
    print("Overall Salary: $", format(f1.calculate_salary(), ".2f"))

    print("\n------------Details of Part-Time Employee ------------")
    p1.display_details()
    print("Overall Salary: $", format(p1.calculate_salary(), ".2f"))

main()

------------ Details of Full-Time Employee ------------
Employee Name: Syed Hammad
Employee ID: Fu-2003
Employee Type: Full-Time Employee
Monthly Salary: $ 75350.00
Overall Salary: $ 75350.00

------------Details of Part-Time Employee ------------
Employee Name: Syed Iftikhar
Employee ID: P-3009
Employee Type: Part-Time Employee
Hours Worked: 36
Hourly Rate: $ 24.87
Overall Salary: $ 895.32

In [6]:
class Student:
    def __init__(self, name, student_id, marks = 0):
        self.name = name
        self.student_id = student_id
        self.__marks = marks

    def set_marks(self, marks):
        if marks < 0 or marks > 100:
            print("Error: Please enter marks between 0 to 100 inclusive!")
        else:
            self.__marks = marks

    def get_marks(self):
        return self.__marks

    def calculate_grade(self):
        if self.__marks >= 90:
            return "A+"
        elif self.__marks >= 80:
            return "A"
        elif self.__marks >= 70:
            return "B"
        elif self.__marks >= 60:
            return "C"
        elif self.__marks >= 50:
            return "D"
        else:
            return "Fail"

    def display_details(self):
        print("Student Name: ", self.name)
        print("Student ID: ", self.student_id)
        print("Marks: ", self.__marks, "/100")
        print("Grade: ", self.calculate_grade())

def main():
    s1 = Student("Joe Denly", "CS-1063", 92)
    s2 = Student("Ali Shah", "CS-1070", 45)
    s3 = Student("Shane Watson", "CS-1079", 68)

    print("------------ Printing Details of Student 1 ------------")
    s1.display_details()

    print("\n------------ Printing Details of Student 2 ------------")
    s2.display_details()

    print("\n------------ Printing Details of Student 3 ------------")
    s3.display_details()

main()

------------ Printing Details of Student 1 ------------
Student Name:  Joe Denly
Student ID:  CS-1063
Marks:  92 /100
Grade:  A+

------------ Printing Details of Student 2 ------------
Student Name:  Ali Shah
Student ID:  CS-1070
Marks:  45 /100
Grade:  Fail

------------ Printing Details of Student 3 ------------
Student Name:  Shane Watson
Student ID:  CS-1079
Marks:  68 /100
Grade:  C